:root {
  // accent
  --color-accent-100: #bea6ff;
  --color-accent-300: #a280ff;
  --color-accent-500: #8c61ff;
  --color-accent-700: #704ecc;
  --color-accent-900: #382766;

  // success
  --color-success-100: #80ffbf;
  --color-success-300: #22e584;
  --color-success-500: #14cc70;
  --color-success-700: #0f9954;
  --color-success-900: #0a6638;

  // red
  --color-danger-100: #ff8772;
  --color-danger-300: #ff6e56;
  --color-danger-500: #ff5638;
  --color-danger-700: #ff3d19;
  --color-danger-900: #ff2600;

  // info
  --color-info-100: #73a5ff;
  --color-info-300: #4c8dff;
  --color-info-500: #397df6;
  --color-info-700: #2f68cc;
  --color-info-900: #234e99;

  // white
  --color-white-100: #fff;
  --color-white-300: #f9f7ff;
  --color-white-500: #f4f2fa;
  --color-white-700: #dcdae0;
  --color-white-900: #c3c1c7;

  // light
  --color-light-100: #fee5ac;
  --color-light-300: #fbdc87;
  --color-light-500: #f9cf63;
  --color-light-700: #fec637;
  --color-light-900: #fcb90c;

  // dark
  --color-dark-100: #4c4f55;
  --color-dark-300: #383b40;
  --color-dark-500: #303338;
  --color-dark-700: #2b2d32;
  --color-dark-900: #232528;
  --color-dark-1000: #1d1e20;
}

:root .dark-mode {
  --color-light-100: #232528;
  --color-light-300: #2b2d32;
  --color-light-500: #303338;
  --color-light-700: #383b40;
  --color-light-900: #4c4f55;
  --color-dark-100: #fcb90c;
  --color-dark-300: #fec637;
  --color-dark-500: #f9cf63;
  --color-dark-700: #fbdc87;
  --color-dark-900: #fee5ac;
  --color-dark-1000: #fbdc87;
}
