.blockFotoAndInfo {
  display: flex;
  justify-content: space-between;

  min-width: 75%;
  margin: 35px;
  padding: 25px;

  border: 3px solid var(--color-light-300);
  border-radius: 20px;
}

.text {
  width: 500px;
  height: 300px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-x);
  text-align: center;
}

.foto {
  position: relative;
  z-index: 1;

  width: 380px;
  height: 380px;

  background-position: center;
  background-size: 90%;
  border-radius: 250px;
}

.foto::before {
  content: '';

  position: absolute;
  z-index: -1;
  top: -5px;
  left: -10px;

  width: 400px;
  height: 400px;

  border: 18px solid var(--color-light-100);
  border-radius: 250px;
}

@media screen and (width <= 1000px) {
  .blockFotoAndInfo {
    flex-direction: column;
    align-items: center;
    padding: 25px 25px 54px;
  }
}

@media screen and (width <= 700px) {
  .blockFotoAndInfo {
    margin: 5px;
    padding: 5px 5px 25px;
    border: none;
  }

  .text {
    width: 95%;
    height: 100%;

    font-family: var(--font-family-primary);
    font-size: var(--font-size-xxl);
    text-align: center;
    border: 2px solid var(--color-light-300);
    border-radius: 10px;
    padding: 10px 5px;
    margin-bottom: 60px;
  }

  .foto {
    width: 280px;
    height: 280px;
  }

  .foto::before {
    width: 300px;
    height: 300px;
  }
}
