.main {
  display: flex;
  justify-content: space-between;
  min-width: 80%;
  margin: 50px 0 100px;
}

.blocLink {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: end;

  width: 48%;
}

.blockForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 48%;
  height: 500px;
  padding: 30px 20px;

  border: 2px solid var(--color-light-300);
  border-radius: 10px;
  box-shadow: 0 0 3px 0;
}

.blockFormForModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  padding: 50px 30px 30px;
}

.minBlockLink {
  display: flex;
  align-items: center;

  width: 100%;
  height: 90px;

  border: 2px solid var(--color-light-300);
  border-radius: 10px;
}

.linkTelegram {
  display: flex;
  align-items: center;
}

.imgPhoneTelegramMail {
  width: 80px;
  height: 80px;

  background-position: center;
  background-size: cover;
  border-radius: 40px;
}

.contactPhoneTelegrMail {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
}

.input {
  width: 100%;
  height: 50px;
  padding: 0 15px;

  background-color: var(--color-dark-700);
  border: 2px solid var(--color-light-300);
  border-radius: 5px;
}

.inputForModal {
  height: 40px;

  color: #fee5ac;

  background-color: #383b40;
  border: 2px solid #fee5ac;
  border-radius: 5px;
  outline: none;
}

.textarea {
  resize: none;

  width: 100%;
  height: 180px;
  padding: 15px;

  background-color: var(--color-dark-700);
  border: 2px solid var(--color-light-300);
  border-radius: 5px;
}

.textareaForModal {
  resize: none;

  height: 160px;

  color: #fee5ac;

  background-color: #383b40;
  border: 2px solid #fee5ac;
  border-radius: 5px;
  outline: none;
}

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 235px;
  height: 45px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  background-color: var(--color-dark-950);
  border: 2px solid var(--color-dark-700);
  border-radius: 8px;
}

.button:hover {
  transform: translateY(2px);
  background-color: var(--color-dark-1000);
  box-shadow: 0 0 15px var(--color-light-100);
  transition: 0.5s;
}

.button:active {
  transform: translateY(-2px);
}

.buttonForModal {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 215px;
  height: 45px;

  color: #fee5ac;

  background-color: #202224;
  border: 2px solid #2b2d32;
  border-radius: 8px;
}

.buttonForModal:hover {
  transform: translateY(2px);
  background-color: #1d1e20;
  box-shadow: 0 0 15px #fee5ac;
  transition: 0.5s;
}

.buttonForModal:active {
  transform: translateY(-2px);
}

@media screen and (width <= 1000px) {
  .main {
    min-width: 90%;
    margin-top: 480px;
  }
}

@media (width <= 720px) {
  .main {
    flex-direction: column-reverse;
    gap: 50px;
    align-items: center;

    min-width: 95%;
    margin-top: 505px;
  }

  .blockForm {
    width: 94%;
    border: 1px solid var(--color-light-300);
  }

  .blocLink {
    width: 94%;
  }
}

@media (width <= 450px) {
  .main {
    margin-top: 430px;
  }
}

@media (width <= 360px) {
  .contactPhoneTelegrMail {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
  }
}
