.block {
  display: none;
  min-width: 85%;
  margin: 80px 0 0;
}

.header {
  margin: 0;
  padding: 0;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
}

@media (width <= 1000px) {
  .block {
    display: block;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
}

.leftArrow,
.rightArrow {
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.rightArrow:hover,
.leftArrow:hover {
  transform: scale(1.1);
}

@media (width <= 450px) {
  .block {
    gap: 35px;
  }

  .header {
    font-size: var(--font-size-xxl);
  }

  .leftArrow,
  .rightArrow {
    width: 25px;
    height: 25px;
    z-index: 1;
  }
}
