.main {
  display: flex;
  justify-content: flex-end;

  width: 75%;
  height: 60px;
  margin: 15px;
}

.block {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 700px;

  color: var(--color-warning-100);

  border-radius: 20px;
}

.headersText {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 40px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);

  border: 2px solid var(--color-dark-700);
  border-radius: 15px;
}

.headersTextQestion {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 180px;
  height: 40px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);

  border: 2px solid var(--color-dark-700);
  border-radius: 15px;
}

.headersText:hover,
.headersTextQestion:hover {
  transform: scale(1.1);
  background-color: var(--color-dark-1000);
  box-shadow: 0 0 25px var(--color-light-100);
  transition: 0.5s;
}

.headersText:active,
.headersTextQestion:active {
  transform: translateY(2px);
}

.menuBurger {
  width: 41px;
  height: 41px;
  cursor: pointer;
}

.menuBurger:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (width >= 800px) {
  .menuBurger {
    display: none;
  }
}

@media screen and (width <= 800px) {
  .headersText,
  .headersTextQestion {
    display: none;
  }
}
