.main {
  border: 1px solid red;
  min-width: 85%;
  height: 85vh;
  display: flex;
  align-items: center;
  margin: 60px 0;
}

.frame {
  border: 3px solid var(--color-light-300);
  border-radius: 20px;
  min-width: 93%;
  height: 100%;
  margin-left: -8px;
}

.rightArrowBig {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-left: -12px;
}

.leftArrowBig {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
