.main {
  display: flex;
  align-items: center;

  width: 90%;
  height: 85vh;
  margin: 40px 0;
}

.frame {
  display: flex;

  min-width: 93%;
  height: 100%;
  margin-left: -8px;

  border: 3px solid var(--color-light-300);
  border-radius: 20px;
}

.rightArrowBig {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: -12px;
}

.leftArrowBig {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.rightArrowBig:hover,
.leftArrowBig:hover {
  transform: scale(1.1);
}

.leftArrowWrapper,
.rightArrowWrapper {
  display: none; /* Скрываем обертки на маленьких экранах */
}

.blockTitleProjectAndTechnoloies {
  width: 350px;
  height: 500px;
  padding: 20px 0 0 25px;
}

.blockImgAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  width: 70%;
  height: 100%;

  border-radius: 20px;
}

.imgProject {
  max-width: 90%;
  border: 1px solid var(--color-light-100);
  border-radius: 8px;
}

.blockSwitch {
  display: flex;
  gap: 10px;
  align-items: center;
}

.activeElem {
  width: 20px;
  height: 20px;

  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-100);
  border-radius: 50%;
}

.notActiveElem {
  cursor: pointer;

  width: 20px;
  height: 20px;

  background-color: var(--color-dark-900);
  border: 2px solid var(--color-light-100);
  border-radius: 50%;
}

.arrowSwitch {
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.notActiveElem:hover,
.arrowSwitch:hover {
  transform: scale(1.1);
}

.link {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 335px;
  height: 50px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  text-decoration: none;

  border: 2px solid var(--color-dark-700);
  border-radius: 8px;
  background-color: var(--color-dark-950);
}

.link:hover {
  transform: translateY(2px);
  background-color: var(--color-dark-1000);
  box-shadow: 0 0 15px var(--color-light-100);
  transition: 0.5s;
}

@media (width >= 1001px) {
  .leftArrowWrapper,
  .rightArrowWrapper {
    display: block; /* Показываем обертки на экранах шире 1000px */
  }
}

@media (width <= 1000px) {
  .frame {
    flex-direction: column-reverse;
    align-items: center;

    min-width: 100%;
    height: 1000px;
    margin-top: 425px;
    margin-left: 0;

    border: 2px solid var(--color-light-300);
  }

  .imgProject {
    max-width: 130%;
    margin-top: 10px;
  }

  .blockTitleProjectAndTechnoloies {
    min-width: 90%;
    height: 65%;
    padding-bottom: 20px;
  }
}

@media (width <= 450px) {
  .frame {
    min-width: 107%;
    margin-top: 275px;
    margin-left: -12px;
    padding: 0 0 10px;
  }

  .blockTitleProjectAndTechnoloies {
    margin-bottom: 10px;
    padding: 0 30px;
  }

  .link {
    width: 280px;
    height: 40px;
    font-size: var(--font-size-l);
  }
}

@media (width <= 340px) {
  .blockTitleProjectAndTechnoloies {
    padding: 0 35px 0 40px;
  }
}
