.main {
  display: flex;
  align-items: center;

  width: 90%;
  height: 85vh;
  margin: 40px 0;
}

.frame {
  min-width: 93%;
  height: 100%;
  margin-left: -8px;

  border: 3px solid var(--color-light-300);
  border-radius: 20px;
  display: flex;
}

.rightArrowBig {
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: -12px;
}

.leftArrowBig {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.rightArrowBig:hover,
.leftArrowBig:hover {
  transform: scale(1.1);
}

.leftArrowWrapper,
.rightArrowWrapper {
  display: none; /* Скрываем обертки на маленьких экранах */
}

@media (width >= 1000px) {
  .leftArrowWrapper,
  .rightArrowWrapper {
    display: block; /* Показываем обертки на экранах шире 1000px */
  }
}

@media (width <= 1000px) {
  .frame {
    min-width: 100%;
    height: 100%;
    margin-left: 0px;
    border: 2px solid var(--color-light-300);
    flex-direction: column-reverse;
  }
}

@media (width <= 450px) {
  .frame {
    min-width: 109%;
    height: 90%;
    margin-left: -17px;
    margin-top: -55px;
  }
}

.blockTitleProjectAndTechnoloies {
  width: 30%;
  height: 90%;
  border: 1px solid var(--color-light-100);
  border-radius: 20px;
}

.blockImgAndButton {
  width: 70%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.imgProject {
  max-width: 90%;
  border: 1px solid var(--color-light-100);
  border-radius: 8px;
}

.blockSwitch {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activeElem {
  width: 20px;
  height: 20px;
  background-color: var(--color-light-100);
  border: 1px solid var(--color-light-100);
  border-radius: 50%;
}

.notActiveElem {
  width: 20px;
  height: 20px;
  background-color: var(--color-dark-900);
  border: 1px solid var(--color-light-100);
  border-radius: 50%;
}

.arrowSwitch {
  width: 23px;
  height: 23px;
}

.outputButton {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  width: 335px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 2px solid var(--color-dark-700);
}

.outputButton:hover {
  background-color: var(--color-dark-1000);
  box-shadow: 0 0 15px var(--color-light-100);
}
