.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin: 30px;
  gap: 20px;
}

.textScil {
  position: relative;

  width: 180px;
  height: 100px;
  margin-top: 60px;

  background-color: var(--color-dark-700);
  border-radius: 15px;
}

.text {
  position: absolute;
  top: 52px;
  left: 47px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-xxxl);
  font-weight: var(--font-weight-bold);
}

.iconScil {
  position: absolute;
  top: -37px;
  left: 46px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 85px;
  height: 82px;

  background-color: var(--color-dark-700);
  border: 8px solid var(--color-dark-900);
  border-radius: 48px;
}

.icon {
  width: 55px;
  height: 55px;
}

.textScil:hover {
  box-shadow: 0 5px 10px var(--color-light-100);
}

@media screen and (width <= 1250px) {
  .main {
    width: 85%;
  }
}

@media screen and (width <= 1000px) {
  .main {
    width: 75%;
  }
}

@media screen and (width <= 700px) {
  .main {
    width: 80%;
    margin: 5px;
  }

  .iconScil {
    width: 70px;
    height: 70px;
  }

  .icon {
    width: 40px;
    height: 40px;
  }

  .textScil {
    transform: scale(0.7);
    border-radius: 10px;
  }
}

@media screen and (width <= 465px) {
  .main {
    justify-content: center;
  }
}

.textScilMobile {
  position: relative;

  width: 100px;
  height: 60px;
  margin-top: 60px;

  background-color: var(--color-dark-700);
  border-radius: 10px;
}

.textMobile {
  position: absolute;
  top: 26px;
  left: 22px;

  font-family: var(--font-family-primary);
  font-size: var(--font-size-l);
}

.textScilMobile:hover {
  box-shadow: 0 4px 6px var(--color-light-100);
}

.iconScilMobile {
  position: absolute;
  top: -37px;
  left: 46px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 70px;

  background-color: var(--color-dark-700);
  border: 8px solid var(--color-dark-900);
  border-radius: 38px;
}
